In [4]:
(a, b, c) = (1, 2, 3)  # tuple unpacking
# number of values on lhs and rhs should be equal

In [5]:
print(a,b,c)

1 2 3

In [7]:
# (a, b, c) = 1, 2, 3
# a, b, c = (1, 2, 3)
# a, b, c = 1, 2, 3
# x, y, z = '123'  # this means x = 1, y = 2, z = 3

In [117]:
gen = (i ** 2 for i in range(5))  # to print this we need 
# to directly store it in list... gen = []
# or we need to do gen = list(i ** 2 for i in range(5)) or
# print(list(gen))
print(gen)

<generator object <genexpr> at 0x000001A4885CD540>

In [118]:
# https://stackoverflow.com/questions/5164642/how-to-print-a-generator-expression
list(gen)

[0, 1, 4, 9, 16]

In [119]:
g = [i ** 3 for i in range(5)]

In [121]:
print(g)

[0, 1, 8, 27, 64]

In [122]:
d = (i ** 4 for i in range(5))
print(list(d))
print(d)

[0, 1, 16, 81, 256]
<generator object <genexpr> at 0x000001A4885CD930>

In [123]:
gen = (i ** 2 for i in range(3))
a, b, c = gen
print(a, b, c)

0 1 4

In [124]:
my_dict = {'one' : 'divya', 2 : 'raichura', 3: 'musk'}
a, b, c = my_dict
print(a, b, c) # prints keys
x, y, z = my_dict.values()
print(x,y,z) # prints values and for printing tuple pair of (key, value) use 
# x, y, z =  my_dict.items()

one 2 3
divya raichura musk

In [125]:
# if we don't know the number of values on rhs then we use *operator
# note that lhs should be tuple so we use comma after the ref var
*a, = 1,2,4
print(*a)  # this unpacks 
print(a)  # this is packed as a list

1 2 4
[1, 2, 4]

In [55]:
# python automatically adjusts the no of values to pack in variable
a, *b, c = 1,32,4,5,7,8
print('a:',a,'\nb:',b,'\nc:',c)

a: 1
b: [32, 4, 5, 7]
c: 8

In [59]:
g = [i * 5 for i in range(5)]
print(g)
print(*g)

[0, 5, 10, 15, 20]
0 5 10 15 20

In [63]:
# if we want to collect elements of a generator in a single variable without using list() 
gen = (i * 3 for i in range(5))
print(gen)
*g, = gen
print(g)
print('unpacking:',*g)

<generator object <genexpr> at 0x000001A4884CC040>
[0, 3, 6, 9, 12]
unpacking: 0 3 6 9 12

In [67]:
# eg 2:
*r, = range(11)
print(r)
print('unpacking;',*r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
unpacking; 0 1 2 3 4 5 6 7 8 9 10

In [68]:
a, b = 10, 20

In [71]:
seq = [2,3,4,6,65,8]
first, *body, last = seq
# instead of 
# first, body, last = seq[0], seq[1:3], seq[-1]

In [72]:
# merging
my_tuple = (1,2,3,4)
new_tuple = (-1,0, my_tuple,23,45,78)

In [73]:
print(new_tuple)

(-1, 0, (1, 2, 3, 4), 23, 45, 78)

In [76]:
# but we want all elements of my_tuple to merge, here the tuple became an element
# we use unpacking, we know that to remove all elements of list/tuple together we use *
new_tuple_2 = (-1,0,*my_tuple, 10,33,57,909)
print(new_tuple_2)

(-1, 0, 1, 2, 3, 4, 10, 33, 57, 909)

In [132]:
# merging all sets, lists, tuples, range(), string to a single list
my_list = [2,3,5,7]
my_tup  = (99,33,11,13)
my_str  = 'abc'
my_ran  = range(20,26)
my_set  = {69,420, 'elon musk'}
my_dict = {2: 'raichuraaa', 'feat': 'billionaire'}
mergeee = [*my_list, *my_tup, *my_str, *my_ran, *my_set, *my_dict]

In [133]:
print(mergeee)

[2, 3, 5, 7, 99, 33, 11, 13, 'a', 'b', 'c', 20, 21, 22, 23, 24, 25, 420, 69, 'elon musk', 2, 'feat']

In [116]:
for i in range(5):
    # print(f'Jimmy five times {i}')
    # or 
    # print('Jimmy five times {}'.format(i))
    # or
    # print(f'Jimmy five times %d%s'%(i, 'th number'))

Jimmy five times 0th number
Jimmy five times 1th number
Jimmy five times 2th number
Jimmy five times 3th number
Jimmy five times 4th number

In [141]:
my_dict_1 = {1:'divya', 2:'raichura'}
my_dict_2 = {3:'elon', 4: 'musk'}
merge_em1 = {*my_dict_1, *my_dict_2}
merge_em2 = {**my_dict_1,**my_dict_2}
print(merge_em1)
print(merge_em2)

{1, 2, 3, 4}
{1: 'divya', 2: 'raichura', 3: 'elon', 4: 'musk'}